@model List<Webshop.Models.CartProductModel>

@{
    ViewData["Title"] = "Cart";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

    <ul>
@foreach(var product in Model)
{
    <li>@(product.Product_name) - @(product.Product_price) $
        <br>
        <a href="/cart/remove/@(product.Id)">REMOVE FROM CART</a>
        <br>
    </li>
}
    </ul>
    <br>
    <a href="#"><button>Proceed to Checkout</button></a>