@{
    ViewData["Title"] = "Please do not contact Stuffshop";
}
<h2>@ViewData["Title"]</h2>
<h3>We rarely answere anyway</h3>

<address>
    Blabla Road<br />
    123-567, The Moon<br />
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">trashbin@stuffshop.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">ignored_post@stuffshop.com</a>
</address>
