@{
    ViewData["Title"] = "Home Page";
}


<div class="row-md-12">
    <div class="col-md-12">
        <h2>Welcome to Stuffshop</h2>
        <h4 class="text-center">Where your hard earned money transfers from your pocket to our Cayman Island bank account, <br>in exchange for a rather shitty product. Also, your dreams come true and such</h4>
    </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
 <img src="~/images/cage.jpg" alt="ASP.NET" class="img-responsive" style="width: 100%"/>


